<!DOCTYPE html>
<html>
<head>
    <title>AI Phishing Email Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Phishing Email Detector</h1>

    <form method="POST">

        <label>Sender Email:</label><br>
        <input type="text" name="sender" value="{{ request.form.get('sender','') }}" required>
        <br><br>

        <label>Email Subject:</label><br>
        <input type="text" name="subject" value="{{ request.form.get('subject','') }}" required>
        <br><br>

        <label>Email Content:</label><br>
        <textarea name="email" rows="8" cols="50" required>{{ request.form.get('email','') }}</textarea>
        <br><br>

        <button type="submit">Analyze Email</button>

    </form>


    {% if risk %}

    <hr>

    <h2>Analysis Report</h2>

    <p><b>Risk Level:</b> {{ risk }}</p>

    <p><b>AI Score:</b> {{ score }}/100</p>


    <h3>Detected Issues:</h3>

    <ul>
        {% for reason in reasons %}
        <li>{{ reason }}</li>
        {% endfor %}
    </ul>

    {% endif %}


</div>

</body>
</html>