<!DOCTYPE html>
<html>
<head>
    <title>AI Phishing Email Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛡 AI Phishing Email Detector</h1>

    <p class="subtitle">
        Detect phishing emails using AI-powered security analysis.
    </p>

    <form method="POST">

        <label>📧 Sender Email</label>
        <input type="text" name="sender" required>

        <label>📝 Email Subject</label>
        <input type="text" name="subject" required>

        <label>📄 Email Content</label>
        <textarea name="email" rows="8" required></textarea>

        <button type="submit">🔍 Analyze Email</button>

    </form>

</div>

</body>
</html>