<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Phishing Email Detector</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h2>🛡 AI Phishing Email Detector</h2>
</header>

<div class="hero">
    <h1>Protect Yourself from Phishing Attacks</h1>

    <p>
        Analyze suspicious emails using AI-powered phishing detection.
        Detect dangerous links, fake senders, malicious attachments,
        and security threats within seconds.
    </p>
</div>

<div class="container">

    <h2>Email Analysis</h2>

    <form method="POST" enctype="multipart/form-data">

        <label>📧 Sender Email</label>
        <input
            type="text"
            name="sender"
            placeholder="example@gmail.com"
            required>

        <label>📝 Email Subject</label>
        <input
            type="text"
            name="subject"
            placeholder="Enter email subject"
            required>

        <label>📄 Email Content</label>

        <textarea
            name="email"
            rows="8"
            placeholder="Paste the email message here..."
            required></textarea>

        <label>📨 Email Header (Optional)</label>

        <textarea
            name="header"
            rows="6"
            placeholder="Paste the email header here (optional)..."></textarea>

        <label>📁 Upload .eml Email File (Optional)</label>

        <input
            type="file"
            name="email_file"
            accept=".eml">
            <br><br>

        <button type="submit" id="analyzeBtn">🔍 Analyze Email</button>

<p id="loadingText" style="display:none; margin-top:15px; color:#0d6efd; font-weight:bold;">
    ⏳ Analyzing email...
</p>
        <br><br>

        <a href="/history">
            <button type="button">📜 View Scan History</button>
        </a>

        <br><br>

        <a href="/dashboard">
            <button type="button">📊 View Statistics Dashboard</button>
        </a>
        <br><br>

<button type="button" id="theme-toggle">
    🌙 Dark Mode
</button>

    </form>

</div>

<footer>
    <p>© 2026 AI Phishing Email Detector | Developed using Flask & Python</p>
</footer>
<script>
const toggleButton = document.getElementById("theme-toggle");

toggleButton.addEventListener("click", function () {
    document.body.classList.toggle("dark-mode");

    if (document.body.classList.contains("dark-mode")) {
        toggleButton.innerHTML = "☀️ Light Mode";
    } else {
        toggleButton.innerHTML = "🌙 Dark Mode";
    }
});
</script>
<script>
document.querySelector("form").addEventListener("submit", function() {
    document.getElementById("loadingText").style.display = "block";
    document.getElementById("analyzeBtn").disabled = true;
    document.getElementById("analyzeBtn").innerHTML = "⏳ Analyzing...";
});
</script>

</body>
</html>
